*{
    margin: 0;
    padding: 0;
}

#sidebar {
    width: 200px;
    height: 100%;
    background-color: #151719;
    position: fixed;
}

#sidebar ul li{
    padding: 15px 10px;
    color: rgba(230, 230, 230, 0.9);
    text-align: center;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    list-style: none;
}

.logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

